.wrapper {
  width: 400px;
  margin: 100px auto;
  padding: 40px;
  background:linear-gradient(200deg,#a8d7e0,#213b40); 
  background-size:500% 500%;
  -webkit-animation:ServiceAnimation 5s ease infinite;
  -moz-animation:ServiceAnimation 5s ease infinite;
  -o-animation:ServiceAnimation 5s ease infinite;
  animation:ServiceAnimation 5s ease infinite;
  box-shadow:  5px 5px 5px #6986a0;
  
}

@-webkit-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-moz-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@-o-keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}
@keyframes ServiceAnimation{0%
  {background-position:90% 0}50%
  {background-position:10% 100%}100%
  {background-position:90% 0}
}